.container_login {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  width: 100%;
}

.section_left {
  background-color: #f2b822;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section_right {
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.header_form h2 {
  font-weight: 400;
  font-size: 4rem;
}

.header_form p {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

.container_image {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 4rem;
  height: 10rem;
  width: 10rem;
}

.container_image img {
  height: 6rem;
}

.form form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.btn_login {
  background-color: #3c5b3c;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  color: #fff;
}

.footer_form{
    margin-top: 4rem;
}

.redirec_register{
    font-weight: 700;
}
