.card_product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 190px;
  height: 254px;
  padding: 0.8em;
  background: #ffffff;
  position: relative;
  overflow: visible;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card_img {
  background-color: #BFCCB5;
  height: 40%;
  width: 100%;
  border-radius: 0.5rem;
  transition: 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card_img img{
  height: 17rem;
}

.card_info {
  padding-top: 10%;
}

svg {
  width: 20px;
  height: 20px;
}

.card_footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}

/*Text*/
.text_title {
  font-weight: 900;
  font-size: 1.3rem;
  line-height: 1.5;
}

.text_body {
  font-size: 0.9em;
  padding-bottom: 10px;
}

/*Button*/
.card_button button {
  border: 1px solid #252525;
  display: flex;
  padding: 0.3em;
  cursor: pointer;
  border-radius: 50px;
  transition: 0.3s ease-in-out;
}

/*Hover*/
.card_img:hover {
  transform: translateY(-25%);
  box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px,
    rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}


