.container_table {
  margin-left: 8rem;
  margin-right: 8rem;
}

.actions_btn {
  display: flex;
  gap: 1rem;
}

.actions_btn button {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.4rem;
}

.edit {
  background-color: #fff;
}

.trash {
  background-color: #2c3333;
  color: #fff;
}
