.container_form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.data_image {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.profile {
  margin-top: 4rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile img {
  height: 18.4rem;
}

.select_cat {
  width: 100%;
  padding: 0.4rem;
  border-radius: 0.4rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.select_cat:focus {
  outline: none;
}

.btn_pdr_form {
  margin-top: 2rem;
  padding: 1rem;
  background-color: var(--green);
  border-radius: 0.4rem;
  color: #fff;
  width: 100%;
}
